*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    div{
        margin-bottom: 20px;
        height: 30px;
        input{
            height: 100%;
        }

        select{
            height: 100%;
        }

        button{
            height: 100%;
        }

    }
}